<nav id="styraxNav" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./Home.html" title="Home Page"><img  class="navLogo img-responsive" src="./images/navLogo.jpg" alt="LogoStyrax"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNav">
      <ul class="nav navbar-nav navbar-right">
        <li id="navLogin"><a href="./SignIn.html" class="navOptions" id="signIn">Sign In</a></li>
        <li id="navSignUp"><a href="./SignUp.html" class="navOptions" id="signUp">Sign Up</a></li>
        <li class="userName hidden" id="userName"></li>
        <li id="navLogout"><a href="" onclick="handleLogout()" class="navOptions hidden" id="logOut">Log Out</a></li>
        <li id="navCart" class=""><a href="./Cart.html" class="navOptions"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
